body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    body {
        cursor: url("jesshead.png"), auto;
      }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content {
    text-align: center;
    max-width: 100%;
}

.spin {
    animation: spin 4s linear infinite;
    width: 100%;
    max-width: 300px; /* Limit the max width for larger screens */
}

.coming-soon {
    line-height: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50pt;
    margin-top: 20px;
    text-align: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 600px) {
    .coming-soon {
        font-size: 30pt;
    }
}
